:root {
  --bg-light: white;
  --bg-dark: rgb(25, 25, 25);
  --text-dark: rgb(50, 50, 50);
  --text-light: whitesmoke;
  --bg-light-active: rgba(255, 255, 255, 0.7);
  --bg-dark-active: rgba(25, 25, 25, 0.7);
  --text-dark-active: rgba(50, 50, 50, 0.7);
  --text-light-active: rgba(245, 245, 245, 0.7);
  --border-dark-active: rgba(25, 25, 25, 0.2);
  --border-light-active: rgba(255, 255, 255, 0.3);
  --border-gilded: rgb(215, 175, 0);
  --bg-gilded: rgba(215, 175, 0, 0.8);
  --bg-gilded-hover: rgba(215, 175, 0, 0.9);
  --border-gilded: rgb(215, 175, 0);
}

body {
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  background-image: url('../assets/imgs/casino-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-light);
  transition: all 0.3s ease;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.main-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.grid-item {
  border: 1px solid var(--bg-light);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.play-btn {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bg-dark);
  background-color: var(--bg-gilded);
  color: var(--text-light);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--border-gilded);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.play-btn:hover {
  cursor: pointer;
  background-color: var(--bg-gilded-hover);
}

.score {
  margin-bottom: 1rem;
}

.game-over {
  opacity: 0;
  transition: ease all 1s;
  font-size: 1rem;
  margin-bottom: 0px;
}

/* Temp class */

.show {
  opacity: 1;
  transition: ease all 1s;
}