* {
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
}

/* Global variables */
:root {
  --bg-light: white;
  --text-light: rgb(50, 50, 50);
  --bg-dark: rgb(25, 25, 25);
  --text-dark: whitesmoke;
  --bg-light-active: rgba(255, 255, 255, 0.7);
  --bg-dark-active: rgba(25, 25, 25, 0.7);
  --text-light-active: rgba(50, 50, 50, 0.7);
  --text-dark-active: rgba(245, 245, 245, 0.7);
  --border-dark-active: rgba(25, 25, 25, 0.2);
  --border-light-active: rgba(255, 255, 255, 0.3);
}

/* General styles */

body {
  background: url("https://wallpapercave.com/wp/wp4035445.jpg");
  overflow: hidden;
  color: var(--bg-light);
  height: 100vh;
  z-index: 0;
}

body:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--bg-light);
  padding: 15px;
  border-radius: 15px;
}

.name {
  text-align: center;
}

.score {
  display: flex;
  width: 80%;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bg-light);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.random-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  color: var(--text-dark);
  width: 110px;
  height: 160px;
}

.generate-random-nums {
  width: 150px;
  height: 50px;
  background-color: var(--bg-dark);
  color: var(--text-dark);
  text-align: center;
  border: 1px solid var(--bg-light);
  border-radius: 15px
}

.draw-notification {
  opacity: 0;
  font-size: 14px;
  transition: ease all 1.5s;
}

.winner-noti {
  margin-top: 200px;
  opacity: 0;
  transition: ease all 1.5s;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Temp class */

.show {
  opacity: 1;
}

/* Individual styles */

.player-score {
  background-color: rgba(5, 105, 155, 0.7);
}

.computer-score {
  background-color: rgba(155, 15, 5, 0.8);
}

/* Pseudo styles */

.generate-random-nums:hover {
  cursor: pointer;
  background-color: var(--bg-light);
  color: var(--text-light);
  border-color: var(--border-light);
}

.generate-random-nums:active {
  cursor: pointer;
  background-color: var(--bg-light-active);
  color: var(--text-light-active);
  border-color: var(--border-light-active);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 428px) and (max-height: 926px) {
  .container {
    flex-direction: column;
    gap: 5px;
  }

  .winner-noti {
    margin-top: 20px;
  }

  .ui {
    margin: 5px auto;
    gap: 5px;
  }

  .middle-section {
    padding-bottom: 10px;
  }

  .draw-notification {
    margin-top: 0;
    margin-bottom: 10px;
  }
}